{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>{% block title %}{% trans "Задачи" %}{% endblock %}</title>
    <meta charset="utf-8"> 
    <link href="/static/img/favicon.png" rel="icon" type="image/png">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <script src="/static/js/jquery-2.1.1.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url "home" %}">{% trans "Менеджер задач" %}</a>
        </div>
      </div>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
      <div class="row">
        <div class="col-xs-12">
          <footer>
            © Больжатов Сергей 2014
          </footer>
          <br>
        </div>
      </div>
    </div>
  </body>
</html>
