{% extends "task_manager/base.html" %}
{% load i18n %}

{% block head %}
  <script src="/static/js/angular.js"></script>
  <script src="/static/js/angular-resource.js"></script>
  <script src="/static/js/angular-cookies.js"></script>
  <script src="/static/js/home.js"></script>
{% endblock %}

{% block content %}
{% verbatim %}
  <div class="row" ng-app="TaskApp" ng-controller="ListCtrl">
    <div class="alert alert-danger alert-dismissible" ng-show="error">
      <button type="button" class="close" ng-click="closeAlert()">&times;</button>
      {{ error }}
    </div>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="task in tasks">
        <button type="button" class="close" ng-click="remove($index)">&times;</button>
        <div ng-hide="task.changing" ng-click="toggle(task)" style="cursor: pointer">
          {{ task.text }}
        </div>
        <div ng-show="task.changing">
          <textarea ng-model="task.text" class="form-control" required></textarea><br>
          <button type="button" class="btn btn-default" ng-click="save(task)">
            {% endverbatim %}{% trans "Сохранить" %}{% verbatim %}
          </button>
        </div>
      </li>
      <li class="list-group-item">
        <textarea ng-model="NewTaskText" class="form-control" required></textarea><br>
        <button type="button" class="btn btn-default" ng-click="newTask()" ng-disabled="!NewTaskText">
          {% endverbatim %}{% trans "Добавить" %}{% verbatim %}
        </button>
      </li>
    </ul>
  </div>
{% endverbatim %}
{% endblock %}
